* {
	margin:0;;;
	padding:0;
}
header {
	background-color:pink;;;
	border-bottom:2px solid black; 
	
}
img {
	height:200px;
	width:150px;
	float:left;
	margin:0 auto;
}
.container,.container1 {
	background-color:pink;
	width:100%;

	/*max-width:1024px;*/
	margin:0 auto;
	padding:15px;
}
nav {
	float:right;
	 background-color:yellow;
	 width:1250px;

}
.container:after {
	content:"";
	clear:both;
	display:table;
}
nav li {
	display:inline-block;
}
nav ul {
	margin:0;
	padding:0;
}
nav a {
	text-decoration:none;
	font-size:25px;
	color:#000;
	line-height:200px;
	margin:0 10px;
	font-weight: 900;

}
nav a:hover {
	color: #ff8080;
	border-bottom: 2px solid black;
	}
	nav ul li:last-child {
		background:#ff8080;
		border-radius:10px;
	}
	.order {
		color:white;
		line-height:200px;
	}
	.order:hover {
		color:white;
		border-bottom:none;
	}
	.add_header {
		background-color:pink;
		border-bottom:2px solid black;
	}
	.add_header .container {
width: 600px;

	}
	.slogan {
		font-size:40px;
		font-family:sans;
		font-style:italic;
		margin:50px 0;
	}
	a {
		text-decoration:none;
		color:#000;
	}
	.btn {
		background:#fc0067;
		border-radius:10px;
		width:400px;
		margin:0 auto;
		padding:15px;
		font-size:25px;
		font-family:sans;
		color:#fff;
		text-align:center;
	}
content {
	background-color:#FFE5CC;
}
.sidebar {
	float:right;
	border:1px solid black;
	width:38%;
}
.articles {
	float:left;
	width:65%;
	border:1px solid black;
}
.article {
	border:1px solid black;
	padding:10px;
	margin-bottom:10px; 
}
.container1 {
	max-width:1024px;
}
.container1:after {
	content:"";
	clear:both;
	display:table;
}
.content > .container1 {
	background-color:deeppink;
}
.<div class="article_text"> {
	width:60%
}
.article_img {
	float:right;
	width:35%;
	height:100%;
}
.article:after {
	content:"";
	display:table;
clear:both;
}
.article_img img {
	width:100%;
	height:100%;
}
